@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Press Start 2P", system-ui;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: rgb(250, 251, 212); */
}

.contaienr-btn {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.texts-container {
    background: #fff;
    width: 50%;
    height: 70%;
    border-radius: 2px;
    padding: 20px;
    text-align: left;
    overflow-y: scroll;
    border: 2px solid #1b1a1a;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.texts-container::-webkit-scrollbar {
    width: 12px;               
}

.texts-container::-webkit-scrollbar-track {
    background: rgb(242, 242, 242);        
}

.texts-container::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 20px;       
    border: 3px solid rgb(229, 229, 229);  
}

.contaienr-btn .titulo {
    font-size: 16px;
    margin: 0;
    text-align: left;
    line-height: 28px;
    font-weight: 400;
    color: #373636;
    font-family: 'Roboto';
    user-select: none;
    padding: 10px;
    background-color: rgba(31, 28, 28, 0.048);
    border-radius: 4px;
}

.titulo-persona {
    display: flex;
    height: fit-content;
    gap: 10px;
    align-items: center;
}

.titulo-persona img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.contaienr-btn .titulo:last-child {
    background-color: rgba(31, 28, 28, 0.178);
}


.btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
}


.btn-class-name * {
    user-select: none;
}

.btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
  
.btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
}
  
.btn-class-name:active .front {
   transform: translateY(0%);
   box-shadow: 0 0;
}

.board-level {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 7px;
    background-color: #454444;
}

.item {
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
    color: #e5e5e5;
    user-select: none;
}

.caption-jogo {
    text-align: right;
    max-width: 250px;
    line-height: 18px;
}

.blur-init {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.blur-init p {
    color: #fff;
    user-select: none;
    transition: .33s;
}

.blur-init p:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    .board-level {
        position: relative;
        right: auto;
        padding: 20px 30px;
        margin-bottom: 50px;
    }

    .board-level .item {
        text-align: left;
    }

    body, html {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        overflow-x: hidden;
    }

    .texts-container {
        width: 100%;
        max-height: 300px;
    }

    .texts-container .titulo {
        margin-left: 10px;
    }
}

.background-caption {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.background-caption img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}